@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  
  --color-primary: #007bfd;
  --color-accent: #ED184F;
  --color-dark-bg: #111111;
  --color-hero-bg: #97a685;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1280px;
}

body {
  font-family: var(--font-sans);
}
